body {
    background-color: #767676;
    color:white;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #1255A7;
    border-bottom: 4px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}